{% extends 'WebVLWebVillasBundle::layout.html.twig' %}
 {% block Head %}    
            <title>WebVillas - Account </title>
        
 <link rel="stylesheet" href="{{asset('bundles/webvlwebvillas/css/Forms.css')}}" /> 
 <script>
      function ChangePass()
     {
          $("#PasswordForm").submit(function(){
                return false;
            });
         $(document).ready(function(){
       var url="{{url('_updPass')}}";
   
      //start send the post request
      if(passcheck())
      {
      var pass = document.getElementById('Password').value; 
      var repass = document.getElementById('RePassword').value; 
      }else{
       var pass = null;
        var repass = null;
    }
       $.post(url,{"Password": pass,"RePassword":repass},function(data){
           //the response is in the data variable
   
            if(data != "" ){ 
               
                if(data.responseCode != 400)
                {
             $('#outputPass').html(data.Success);
             $('#outputPass').css({'padding':'0','background-color': 'darkgreen',
                 'border': 'green thin solid', 'color':'white', 'margin':'0.5em'});
         }else{
         $('#outputPass').html(data.Error);
         $('#outputPass').css({'padding':'0','background-color': 'darkred',
                 'border': 'red thin solid', 'color':'white', 'margin':'0.5em'});
            }
            
        
        }
          
           else{
              //if we got to this point we know that the controller
              //did not return a json_encoded array. We can assume that           
              //an unexpected PHP error occured
              alert("An unexpeded error occured.");

              //if you want to print the error:
              
           }
           
       });//It is silly. But you should not write 'json' or any thing as the fourth parameter. It should be undefined. I'll explain it futher down

      //we dont what the browser to submit the form
      return false; 
      });
     }
     
    function ChangeMail()
     {
          $("#MailForm").submit(function(){
                return false;
            });
         $(document).ready(function(){
       var url="{{url('_updMail')}}";
   
      //start send the post request
      if(mailcheck())
      {
      var mail = document.getElementById('Email').value; 
      var remail = document.getElementById('Emailreenter').value; 
      }else{
       var mail = null;
        var remail = null;
    }
       $.post(url,{"Email": mail,"Emailreenter":remail},function(data){
           //the response is in the data variable
   
            if(data != "" ){ 
               
                if(data.responseCode != 400)
                {
             $('#outputMail').html(data.Success);
             $('#outputMail').css({'padding':'0','background-color': 'darkgreen',
                 'border': 'green thin solid', 'color':'white', 'margin':'0.5em'});
         }else{
         $('#outputMail').html(data.Error);
         $('#outputMail').css({'padding':'0','background-color': 'darkred',
                 'border': 'red thin solid', 'color':'white', 'margin':'0.5em'});
            }
            
        
        }
          
           else{
              //if we got to this point we know that the controller
              //did not return a json_encoded array. We can assume that           
              //an unexpected PHP error occured
              alert("An unexpeded error occured.");

              //if you want to print the error:
              
           }
           
       });//It is silly. But you should not write 'json' or any thing as the fourth parameter. It should be undefined. I'll explain it futher down

      //we dont what the browser to submit the form
      return false; 
      });
     }
    
     function ChangeTheme()
     {
          $("#ThemeForm").submit(function(){
                return false;
            });
         $(document).ready(function(){
       var url="{{url('_updTheme')}}";
   
      //start send the post request
      if(themecheck())
      {
      var thm = document.getElementById('ThemeSelector').value;    
      }else{
       var thm = 0;
    }
       $.post(url,{"ThemeSelector": thm},function(data){
           //the response is in the data variable
   
            if(data != "" ){ 
               
                if(data.responseCode != 400)
                {
             $('#outputTheme').html(data.Success);
             $('#outputTheme').css({'padding':'0','background-color': 'darkgreen',
                 'border': 'green thin solid', 'color':'white', 'margin':'0.5em'});
         }else{
         $('#outputTheme').html(data.Error);
         $('#outputTheme').css({'padding':'0','background-color': 'darkred',
                 'border': 'red thin solid', 'color':'white', 'margin':'0.5em'});
            }
            
        
        }
          
           else{
              //if we got to this point we know that the controller
              //did not return a json_encoded array. We can assume that           
              //an unexpected PHP error occured
              alert("An unexpeded error occured.");

              //if you want to print the error:
              
           }
           
       });//It is silly. But you should not write 'json' or any thing as the fourth parameter. It should be undefined. I'll explain it futher down

      //we dont what the browser to submit the form
      return false; 
      });
     }
     </script>
            {%endblock %} 
{% block MainCont %} 
    <div id="MainContent">
        <br/>
        <h1>Account of {{app.user.username}}</h1>
          <br/>
      
          <div id="ThemeDiv" >
              <h3>Set Theme</h3>
          <form id="ThemeForm" name="ThemeForm" method="post" action="{{path('_updTheme')}}" onsubmit='return themecheck()'>
              <table class="fields">
                  <tr>
                      <td id='outputTheme'></td>
                      <td>
                          Choose a Theme:
                      </td>
                      <td>
                          <select id="ThemeSelector" name="ThemeSelector">
                            {% if theme == 0 %}
                                <option value="0" selected="selected"> Default</option>
                                <option value="1"> Green </option>
                                {%else%}
                                     <option value="0" > Default</option>
                                    <option value="1" selected="selected"> Green </option>
                                    {% endif%}
                          </select>
                      </td><td><span id='SelErr'></span></td>
                 
                
                      <td>
                          <input type="submit" id="ThemeButton" onclick='ChangeTheme()' value="Change Theme!" />  
                      </td>
                      <td>
                          
                      </td>
                  </tr>
              </table>
          </form>
    </div>
        <br/> <br/>
          <div id="ChangeEmail" >
              <h3>Change Email</h3>
              <form id="MailForm" name="MailForm" action="{{path('_updMail')}}" method="post" onsubmit="return mailcheck()">
                  <table class="fields">
                      <tr><td  id='outputMail'></td></tr>
                      <tr> 
                          <td>Email:</td><td><input type="email" id="Email" name="Email" placeholder="E-mail"/></td><td><span id="Mailerr"></span></td></tr>
                      <tr><td>Re-Enter Email:</td><td><input type="email" id="Emailreenter" name="Emailreenter" placeholder="Re-enter E-mail"/></td><td><span id="remailerr"></span></td></tr>
                      <tr><td><input type="submit" id="MailButton" onclick="ChangeMail()" Value="Change Email!" /></td></tr>
                  </table>
              </form>
          </div>
          <br/> <br/>
        <div id="ChangePassword" >
            <h3>Change Password</h3>
              <form id="PasswordForm" name="PasswordForm" action="{{path('_updPass')}}" method="post" onsubmit = 'return passcheck()'>
                  <table class="fields">
                      <tr><td id="outputPass"></td></tr>
                      <tr><td>Password:</td><td><input type="password" id="Password" name="Password" placeholder="Password"/></td><td><span id="PassErr"></span></td></tr>
                       <tr><td>Re-Enter Password:</td><td><input type="password" id="RePassword" name="RePassword" placeholder="Re-enter Password"/></td><td><span id="RePassErr"></span></td></tr>
                       <tr><td><input type="submit" id="PasswordButton" onclick="ChangePass()" Value="Change Password!" /></td></tr>
                  </table>
              </form>
          </div>
         
        <br/>
    <br/>
    </div>
    {% endblock %}